/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End reset */

body {
  font-family: 'Bangers', 'DIN Alternate', 'Ubuntu', 'Roboto', 'Segoe UI', sans-serif;
  text-align: center;
  background-color: rgb( 82, 153, 154 );
  font-size: 30px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a {
  color: #fff;
}

h1 {
  transition: transform 1s ease-out, opacity 2s ease-out;
  -moz-transition: -moz-transform 1s ease-out, opacity 2s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out, opacity 2s ease-out;
  opacity: 1;
  padding: 1em 0;
  transform: translateY( 0 );
  -moz-transform: translateY( 0 );
  -webkit-transform: translateY( 0 );
}

h1 > small {
  display: block;
}

.hidden {
  opacity: 0;
  transform: translateY( -10px );
  -moz-transform: translateY( -10px );
  -webkit-transform: translateY( -10px );
}

.hidden-nav {
  opacity: 0;
  transform: translateY( 10px );
  -moz-transform: translateY( 10px );
  -webkit-transform: translateY( 10px );
}

nav {
  transition: transform 1s ease-out, opacity 2s ease-out;
  -moz-transition: -moz-transform 1s ease-out, opacity 2s ease-out;
  -webkit-transition: -webkit-transform 1s ease-out, opacity 2s ease-out;
  opacity: 1;
  transform: translateY( 0 );
  -moz-transform: translateY( 0 );
  -webkit-transform: translateY( 0 );
}

nav > a {
  display: inline-block;
  position: relative;
  padding: 5px;
  overflow: hidden;
  text-decoration: none;
}

nav > a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 2px;
  width: 20%;
  margin: auto;
  background: transparent;
  transition: all 0.4s cubic-bezier( 0.5, -0.5, 0.5, 1.5 );
  -moz-transition: all 0.4s cubic-bezier( 0.5, -0.5, 0.5, 1.5 );
  -webkit-transition: all 0.4s cubic-bezier( 0.5, -0.5, 0.5, 1.5 );
}

nav > a:hover::before {
  background: #fff;
  left: 0;
  width: 100%;
}

@media ( max-width: 600px ) {
  body {
    background-image: linear-gradient( rgba( 0, 0, 255, 0.3 ), rgba( 0, 0, 255, 0 )), url( 'sea-s.jpg' );
  }
}

@media ( min-width: 601px ) and ( max-width: 1400px ) {
  body {
    background-image: linear-gradient( rgba( 0, 0, 255, 0.3 ), rgba( 0, 0, 255, 0 )), url( 'sea.jpg' );
  }
}

@media ( min-width: 1401px ) {
  body {
    background-image: linear-gradient( rgba( 0, 0, 255, 0.3 ), rgba( 0, 0, 255, 0 )), url( 'sea-l.jpg' );
  }
}
